<!-- Footer -->
<footer class="page-footer font-small blue bg3 footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 textc1 ">© 2022 Copyright:
    <%= link_to 'Vishal Singh Rajput',class:'textc1' %>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->