

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .mt-0 {
  margin-top: 30px !important;
}

.mb-10-show {
  margin-bottom: 32px !important;
  width: 22rem;
}

.username {
  padding-top: 7px;
  font-size: 17px;
  font-style: initial;
  color: white;
}

.fa {
  color: gray
}

.pd {
  padding-bottom: 1.5px;
}

.form {
  width: 28rem;
  border-radius: 1.0rem;
  margin-bottom: 90px;
  margin-top: 30px;
}

.form-g {
  width: 74%;
  margin-left: 49px;
  color: #0e387a;
  margin-top: 2px;
}

.sbutton {
  margin-left: 170px;
}

.sbuttone2 {
  margin-left: 3.0rem;
}

.nav {
  margin-left: 14.0rem;
}

.bg {
  background-color: #023047
}

.bg2 {
  background-color: Whitesmoke
}

.bg3 {
  background-color: rgb(230, 233, 253)
}

Ivory .bg4 {
  background-color: Ivory
}

.textc2 {
  color: #023047
}

.textc1 {
  color: #0e387a;
}

.textc3 {
  color: aliceblue;
}

.navitems {
  position: relative;
  left: 700px;
  color: aliceblue;
}

.navitemn {
  position: relative;
  left: 518px;
  color: aliceblue;
}

.signin {
  position: relative;
  left: 51rem;
}

.signup {
  position: relative;
  left: 60rem;
}

.header {
  color: #023047;
  text-align: center;
}

.tag {
  margin-bottom: 32px;
  margin-top: 11px;
}

.footer {
  position: fixed;
  height: 59px;
  bottom: 0;
  width: 100%;
  margin-top: 40rem;
}

.imgs {
  height: 200px;
  width: 280px;
  justify-content: center;
}

.mb {
  margin-bottom: 3.3rem;
}

.totalimg {
  margin-top: -23px;
  margin-right: 10px;
  margin-bottom: 12px;
}

.img {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}

.imgb {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  float: right;
  margin-top: 33px;
}

.imgd {
  display: block;
  overflow: -hidden;
  margin-top: 33px;
}

.cardd {
  margin-top: 80px;
}

